= f.input :name_of_building, wrapper: :horizontal_input_group
= f.input :address, wrapper: :horizontal_input_group
= f.input :description, wrapper: :horizontal_input_group
= f.input :city, wrapper: :horizontal_input_group
= f.input :state, wrapper: :horizontal_input_group
= f.input :country, wrapper: :horizontal_input_group
= f.input :zip_code, wrapper: :horizontal_input_group
= f.input :phone, wrapper: :horizontal_input_group
= f.submit