= f.input :name_of_building, as: :clip
= f.input :address, as: :clip
= f.input :description, as: :clip
= f.input :city, as: :clip
= f.input :state, as: :clip
= f.input :country, as: :clip
= f.input :zip_code, as: :clip
= f.input :phone, as: :clip
= f.submit